{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1><a href="/" style="text-decoration: none; color:#5a5a5a">Customers</a> </h1>
<div class="input-group my-3">
  <form action="/" method="POST" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 input-large" name="name" type="text" placeholder="Search Customer">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

{% if customers.length === 0 %}
  <div>{{name}} is not found. <a href="/">Go back</a></div>
{% else %}
<ul style="column-count: 4">
  {% for customer in customers %}
  <li><a href="/{{ customer.id }}/">{{ customer.fullName() }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}